






<main>
    <div class="container bg-warning my-2">
        <h1 class="text-center py-2">Add Department</h1>
        <hr> <br>
        <form class="form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                        <label class="form-label">Department ID</label>
                        <input type="text" class="form-control" name="" formControlName=""
                            placeholder="enter your Department ID">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Department Name</label>
                        <input type="text" class="form-control" name="" formControlName=""
                            placeholder="enter your Department Name">
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Head Of Department</label>
                        <input type="text" class="form-control" name="" formControlName=""
                            placeholder="enter your Head Of Department">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Department Start Date</label>
                        <input type="date" class="form-control" class="form-control" name="" formControlName=""
                            placeholder="enter your Department Start Date">
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label class="form-label">No Of Students</label>
                        <input type="text" name="" class="form-control" formControlName=""
                            placeholder="enter  your No Of Students">
                    </div> <br>
                    <button class="btn btn-success" type="button">Submit</button>
                </div>
            </div>
        </form>
    </div>
</main>
