:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer{
    width: 300px;
    background-color:whitesmoke;
}

mat-drawer-container{
    height: 100%;
}
/* 
body{
    font-family: Roboto,"Helvetica Neue",sans-serif;;
} */